{% extends "layout.html" %}
{% block content %}
    <header>O Firmie</header>
    <div class="row">
        <aside class="col-lg-3">
            <header class="SubArticle">Założyciel</header>
            <article>
                Janek Kowalski <br>
                <img width="100%"  src="static/zal.png" alt="założyciel">
                "Jestem pasjonatem żeglugi od 12 lat, w maju 2016 roku postanowiłem spełnić marzenie
                i założyć własną wypożyczalnie. Zaczynałem z jednym jachtem i od tamtej pory prężnie się
                rozwijamy jako firma. Chcę zarazić bakcylem żeglugi każdego, kto tylko ma możłiwość
                regularnej żeglugi. Mam nadzieję, że zosteniesz z nami na dłużej!"
            </article>
        </aside>
        <div class="col-lg-1"></div>
        <article class="col-lg-8">
            <header class="SubArticle">Tu nas znajdziesz!</header>
            <img style="display: block; margin: 0 auto;" width="60%" src="static/lok.png" alt="lokalizacja">
            <article>
                Jako Firma "YachteX" działamy od 2016 roku. Wszystkie oferowane przez nas jachty są
                najwyższej jakości, mają sprawne badania techniczne oraz aktualne ubezpieczenie.
                Żeglując z nami masz gwarancję najwyższej jakości oraz bezpieczeństwa. Nasze biuro
                znajduje się przy zamkniętej zatoce i posiada własny teren (przy pomoście cumują jedynie
                nasze jachty). Nasza obsługa to ludzie z pasją, kochający bezkresność morza Bałtyckiego i
                wkładający serce w swoją pracę. Zapraszamy!
                <br>
                Kontakt:
                <ul>
                    <li><b>Adres E-mail:</b> kontakt@yachtex.com</li>
                    <li><b>Numer Telefonu:</b> 509-666-989</li>
                    <li><b>Adres:</b> Morska 42, Gdańsk</li>
                </ul>
            </article>
        </article>
        <footer class="col-lg-12">509-666-989</footer>
    </div>
{% endblock content %}

