{% extends "layout.html" %}
{% block content %}
<header>YachteX</header>
    <div class="row">
        <article id="SGstart" style="margin-bottom: 45px">
            <br>
            Zapraszamy do skorzystania z naszej bogatej oferty! Zarezerwuj jacht już <b>TERAZ! (509-666-989)</b>
        </article>
        <article class="col-lg-12">
            <article class="col-lg-12" style="margin-bottom: 45px">
                <div class="row">
                    <div class="col-lg-5">
                        <img style="display: block; margin: 0 auto;" width="auto" height="300px" src="static/sg1.jpg" alt="lokalizacja">
                    </div>
                    <div class="col-lg-7">
                        <header class="SubArticle">Wycieczki z rodziną!</header>
                        <article>
                            Nasza wypożyczalnia posiada w ofercie jachty przeznaczone dla całych rodzin,
                            charakteryzują się one bezpiecznym pokładem oraz wygodą wewnątrz. Każdy z takich
                            jachtów posiada WC oraz mini-kuchnię, a w wyposażeniu znajdziemy telewizor,
                            naczynia oraz książkę dla dzieci z opowieściami morskimi. W tej opcji nie potrzebujesz
                            patentu żeglarskiego, możesz wynając sternika z naszej firmy. W takim przypadku
                            pod pokładem czekać będzie również butelka szampana i dwa kieliszki, aby wycieczka
                            była jak najprzyjemniejsza dla calej załogi.
                        </article>
                    </div>
                </div>
            </article>
            <article class="col-lg-12" style="margin-bottom: 45px">
                <div class="row">
                    <div class="col-lg-7">
                        <header class="SubArticle">Zawody sportowe!</header>
                        <article>
                            Jesteś niezwykle energiczną osobą, o ciągłej chęci przypływu adrenaliny?
                            U nas jest możłiwość wynajmu jachtów sportowych, jeśli jesteś wystarczająco
                            zaawansowany, a jeśli nie - już dziś zapisz się do naszej akademii! Zajęcia
                            raz w tygodniu z najlepszymi instruktorami z pewnością przygotują Cię do udziału
                            w zawodach, a na zamknięcie sezonu sami organizujemy turniej, w którym wygraną jest bon
                            o wartości 1000zł na przyszły sezon!
                        </article>
                    </div>
                    <div class="col-lg-5">
                        <img style="display: block; margin: 0 auto;" width="auto" height="300px" src="static/sg2.jpg" alt="lokalizacja">
                    </div>
                </div>
            </article>
        </article>
        <footer class="col-lg-12">509-666-989</footer>
    </div>
{% endblock content %}

